<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">STP Bars</li>
      <li>
        <a href="#">Events</a>
        <ul class="menu vertical">
          <li>
            <a href="#">Music</a>
          </li>
          <li>
            <a href="#">Sports</a>
          </li>
          <li>
            <a href="#">Happy Hours</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Drinks</a>
      </li>
      <li>
        <a href="#">Food</a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <fieldset class="large-6 cell">
          <legend></legend>
          <input id="checkbox-food" type="checkbox">
          <label for="checkbox-food">Food</label>
          <input id="checkbox-drink" type="checkbox">
          <label for="checkbox-drink">Drink</label>
          <input id="checkbox3" type="checkbox">
          <label for="checkbox3">Special</label>
        </fieldset>
      </li>
    </ul>
  </div>
</div>