<div class="radiusx borderedx shadowx card">
  {{!--
  <img src="https://placehold.it/500x250">--}}
  <div class="card-divider">
    {{!--
    <i class="far fa-smile"></i>&nbsp;
    <i class="fas fa-beer"></i>&nbsp;
    <i class="fas fa-wine-glass"></i>--}}
    <i>
      <strong>Gray Duck</strong> @
      <strong>3pm - 6pm</strong>
    </i>
    <div class="link-map">
      <i class="fas fa-map-marker-alt"></i>
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="card-section">

    <p>
      Located in Downtown Saint Paul.</p>
    <div class="grid-x grid-margin-x">
      <div class="large-6 cell">
        <ul class="no-bullet">
          <li>
            <div>
              <i class="fas fa-beer"></i>
              <span class="price">$2</span>
            </div>PBR, Hamm's & Grain Belt Tallboys</li>
          <li>
            <div>
              <i class="fas fa-beer"></i>
              <span class="price">$2 off</span>
            </div>Tap Beer</li>
          <li>
            <div>
              <i class="fas fa-glass-martini"></i>
              <span class="price">$6</span>
            </div>House Gin & Tonic</li>
          <li>
            <div>
              <i class="fas fa-wine-glass"></i>
              <span class="price">$4</span>
            </div>Select Red & White Wine</li>
        </ul>
      </div>
      <div class="large-6 cell">
        <ul class="no-bullet">
          <li>
            <div>
              <i class="fas fa-utensils"></i>
              <span class="price">$3</span>
            </div>Cuban "Cigar"</li>
          <li>
            <div>
              <i class="fas fa-utensils"></i>
              <span class="price">$3</span>
            </div>East African Samosa
          </li>
          <li>
            <div>
              <i class="fas fa-utensils"></i>
              <span class="price">$3</span>
            </div>Fried Almonds
          </li>
          <li>
            <div>
              <i class="fas fa-utensils"></i>
              <span class="price">$4</span>
            </div>Spanish Sausage & Peppers
          </li>
          <li>
            <div>
              <i class="fas fa-utensils"></i>
              <span class="price">$6</span>
            </div>Giant Soft Pretzel
          </li>
          <li>
            <div>
              <i class="fas fa-utensils"></i>
              <span class="price">$8</span>
            </div>Tamarind Chili Wings
          </li>
          <li>
            <div>
              <i class="fas fa-utensils"></i>
              <span class="price">$11</span>
            </div>Chong Qing Chicken
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>